*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
/* sidebar */
.sidebar {
    width: 4rem;
    height: 100%;
    background-color: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidenav{
    display: none;
}
.social-icons{
    flex-direction: column;
    background-color: #f70828ee;
}
/* sidebar end*/

/*container*/
.container{
    width: 1200px;
    margin: 0 auto;
}
/*container end*/

/*navigation*/
nav{
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #afafaf;
    margin-bottom: 60px;
}
.navbar {
    width: 100%;
}
/*logo*/
.object {
    display: flex;
    justify-content: start;
}
.logo{
    width: 10vh;
    height: 10vh;
    margin-left: 10vw;
    object-fit: cover;
}
/*logo end*/

/* menu */
ul {
    display: flex;
    justify-content: space-between;
}
ul li {
    list-style: none;
    display: flex;
    line-height: 4vh;
    font-size: 1.2rem;
}
li a {
    text-decoration: none;
    padding: 20px;
    color: #fff;
    outline:none;
}
li a:hover{
    color: #20fc32fd;
}
/* menu end */
/*navigation end*/

/*main*/
h1 {
    text-align: center;
    margin-bottom: 40px;
}
p{
    text-align: center;
    margin-bottom: 60px;
}
.boxes {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.box {
    margin: 50px auto;
    padding: 0;
    width: 33vh;
    height: 33vh;
    box-sizing: border-box;
    margin-bottom: 3rem;
}
.xoxo {
    width: 11vh;
    height: 11vh;
    line-height: 11vh;
    float: left;
    background:rgb(1, 71, 56) ;
    border: 1px solid #eee;
    box-sizing: border-box;
    font-size: 44px;
    color: white;
    text-align: center;
}
.left-box,.right-box {
    width: 28vh;
    height: 28vh;
    background-color:rgb(9, 140, 248);
}
.effect {transition: background-color .3s;}
.effect:hover {
    background-color: rgba(2, 148, 153, 0.102);
    transform: rotate(45deg);
}
/*main end*/

/*form*/
.sign-up {
    margin: 5rem 0;
    background-color: rgb(199, 231, 241);
}
h2 {
    text-align: center;
    font-weight: bold;
    color: rgb(1, 71, 56);
}
.registration {
    padding-top: 10vh;
}
input {
    position: relative;
}
.name,.email,.password {
    position: relative;
}
label {
    float: left;
    position: absolute;
    top:0;
    left:20rem;
}
form{
    text-align: center;
}
input {
    width: 35rem;
    height: 2rem;
    border: 1 solid gray;
    border-radius: .3rem;
    margin-bottom: 3rem;
}
.btn {
margin-bottom: 5rem;
}
#errors {
    text-align: center;
    color:darkred;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10rem;
}
/*form end*/

/*footer*/
footer {
    width: 100%;
    display: flex;
    background-color: #202020;
    justify-content: space-between;
}
.group{
    color:#fff;
    margin:30px;
}
.group:hover{
    color: rgb(6, 247, 18);
}
/*footer end*/

@media(max-width:1200px){
    .container {
        width: 1190px;
        margin: 0 auto;
    }
     nav {
         width: 90%;
         margin: 0 auto;
         margin-bottom: 5vh;
     }
    .menu-icon {
        position: absolute;
        top: 2rem;
        right: 1rem;
    }
     p {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 6vh;
    }
     footer {
         width: 100%;
         margin: 0 auto;
     }

}
@media(max-width:992px){
    .container {
        width: 988px;
        margin: 0 auto;
    }
    nav {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5vh;
    }
    p {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 6vh;
    }
    .boxes{
        margin: 50px;
    }
    footer {
        width: 100%;
        margin: 0 auto;
    }
    /*form */
    label {
        float: left;
        position: absolute;
        top:0;
        left: 16rem;
        font-size: 0.8rem;
    }
    form{
        text-align: center;
    }
    input {
        width: 30rem;
        height: 2rem;
        border: 1px solid #43bf0bba;
        border-radius: .3rem;
        margin-bottom: 0.8rem;
        position: relative;
    }
    .btn {
        margin-bottom: 2.8rem;
    }
    #errors {
        text-align: center;
        color:darkred;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 8rem;
    }
    /* form end */
}
@media(max-width:768px){
    .sidebar {
    display: none;
    }
    .container {
        width: 764px;
        margin: 0 auto;
    }
    nav {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 6vh;
        position: relative;
    }
    .logo {
        object-fit: cover;
    }
    ul li{
        display: none;
    }
    .menu-icon {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        left: 23rem;
    }
    .line {
        height: .1rem;
        width: 2rem;
        background-color: #222;
        margin-bottom: .6rem;
    }
    .line-2 {
        width: 1rem;
        transition: all .4s;
        margin-left: 0.5rem;
    }
    .menu-icon:hover .line {
        width: 2.3rem;
        background-color: #fa1332f5;
    }
    .checkbox:checked ~ .navbar .line-1{
        transform: rotate(-405deg) translate(-9px, 9px);
        width: 2rem;
    }
    .checkbox:checked ~ .navbar .line-2{
        opacity:0 ;
    }
    .checkbox:checked ~ .navbar .line-3{
        transform: rotate(405deg) translate(-6px, -7px);
        width: 2rem;
    }
    p{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 8vh;
    }
    
    .left,.right {
        width: 17vh;
        height: 18.2vh;
        background-color:#afafaf;
    }
    footer {
        width: 100%;
        margin: 0 auto;
    }
    /* form */
    .sign-up {
        margin: 5rem 0;
        background-color: rgb(199, 231, 241);
    }
    h2 {
        text-align: center;
        padding: 2rem 0;
    }
    label {
        float: left;
        position: absolute;
        top:0;
        left: 15.5rem;
        font-size: 0.8rem;
    }
    form{
        text-align: center;
    }
    input {
        width: 17rem;
        height: 1.7rem;
        border: 1px solid #43bf0bba;
        border-radius: .3rem;
        margin-bottom: 1.5rem;
        position: relative;
        font-size: 0.8rem;
    }
    .btn {
        margin-bottom: 3rem;
    }
    #errors {
        text-align: center;
        color:darkred;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10rem;
    }
    /*form end*/
}
@media(max-width:600px){
    .container {
        width: 595px;
        margin: 0 auto;
    }
    nav {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 7vh;
    }
    .line {
        height: .1rem;
        width: 1.5rem;
        background-color: #222;
        margin-bottom: .5rem;
    }
    .line-2 {
        width: 1rem;
        transition: all .4s;
        margin-left: .4rem;
    }
    p {
        text-align: center;
    }
    .left-box,.right-box {
        width: 18vh;
        height: 18vh;
        background-color:#afafaf;
    }
    .xoxo {
        font-size: 2.2rem;
    }
    /* form */
    label {
        float: left;
        position: absolute;
        top:0;
        left: 10rem;
        font-size: 0.8rem;
    }
    /*form end */
}
@media(max-width:360px){
    .container {
        width: 345px;
        margin: 0 auto;
    }
    nav {
        margin-bottom: 7vh;
    }
    .navbar {
        justify-content:end;
        display: flex;
        width: 100%;
    }
    .line {
        height: .1rem;
        width: 1.5rem;
        background-color: #222;
        margin-bottom: .5rem;
    }
    .line-2 {
        width: 1rem;
        transition: all .4s;
        margin-left: .4rem;
    }
    .menu-icon:hover .line {
        width: 2rem;
        background-color: #fa1332f5;
    }
    .logo {
        object-fit: cover;
    }
    p {
        text-align: center;
    }
    h2 {
        font-size: 1rem;
    }
    .boxes {
        flex-direction: row;
        align-items: center;
        margin-bottom: 5vh;
        justify-content: space-around;
    }
    .left-box,.right-box {
        width: 15vh;
        height: 15vh;
        background-color:#afafaf;
        margin-bottom: 0.5vh; 
    }
    .box {
        margin:1.5vh auto
    }
    footer {
        flex-direction: column;
        align-items: center;
        font-size: 0.5rem;
        width: 100%;
        margin: 0 auto;
    }
}

.clearfix::after
.clearfix::before {
    content: "";
    clear: both;
    display: table;
  }